.DS_Store

# Ignore everything in the data/local/ folder. 
# Toolkit users can store data in this folder on their local machines when running example notebooks.
data/local/*

# Ignore .HTML files in the notebooks/ folder. 
# These should be moved to the reports/ folder when they are rendered and ready for publication.
notebooks/*/*.html


# R artifacts to ignore

## History files
.Rhistory
.Rapp.history

## Session Data files
.RData

## User-specific files
.Ruserdata

## R Environment Variables
.Renviron


# Python artifacts to ignore

## Jupyter Notebook
.ipynb_checkpoints

## IPython
profile_default/
ipython_config.py

# local 
localnotes/
.Rproj.user
policing-and-public-safety-data-toolkit.Rproj
